@model ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Product.ImageUrl" alt="@Model.Product.Name" class="img-fluid" />
        </div>
        <div class="col-md-9">
            <h1 class="mb-4">
                @Model.Product.Name
            </h1>
            <hr />
            @foreach (var category in Model.Categories)
            {
                <a href="#" class="btn btn-outline-primary btn-sm mb-2">@category.Name</a>
            }
            <div class="mt-4">
                <h4 class="text-primary">
                    @Model.Product.Price TL
                </h4>

                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                    <input type="hidden" name="productId" value="@Model.Product.Id" />
                    <div class="input-group">
                        <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width:80px;" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-cart-plus"></i> Sepete Ekle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p class="p-3">
                @Html.Raw(Model.Product.Description)
            </p>
        </div>
    </div>
</div>